<!--<h1>{{hbsObject.burgers.data.id}}</h1>-->
<div class="head">
    <img src="/assets/images/clipart-burger.png">
    <h1>Eat-Da-Burger!</h1>
</div>

<form>
  <div class="text-center">
      <label>Make your own burger!</label>
  </div>
   
    <input type="text" class="form-control form-control-lg" id="addBurger">
    <br>
<!--    <div class="form-group row">-->
       
       <div class="text-center">
          <button type="button" class="btn btn-primary" id="userInp"> Submit </button> 
          
       </div>
        
<!--    </div>-->
    
</form>
<div class="listBurger">
<div id="notDevoured">

<div class="card" style="width: 18rem;">
  <ol class="list-group list-group-flush">
    {{#each burgers}}
      {{#unless devoured}}
        {{>burgers/burger-block }}
       {{/unless}}
    {{/each}}
  </ol>
     
</div>
  
  
    
      
<!--
       {{#each burgers}}
       <div class="row"> 
       <div class="col-md-6">
        <div class="card">
        
         <div class="card-body">{{this.burger_name}}
         <span><button > Devour it!</button></span></div>
         
         </div>
          </div>  
            </div>
            <div class="col-md-6">
                <button > Devour it!</button>
            </div>
       
        </div>
         {{/each}}
-->
         
         
         
         
<!--         <button > Devour it!</button>-->
      
</div>

<div id="devoured">
    
</div>
</div>
    

    




<div>
    
</div>


