<!--<h1>{{hbsObject.burgers.data.id}}</h1>-->
<div class="head">
    <img src="/assets/images/clipart-burger.png">
    <h1>Eat-Da-Burger!</h1>
</div>

<form>
  <div class="text-center">
      <label>Make your own burger!</label>
  </div>
   
    <input type="text" class="form-control form-control-lg" id="addBurger">
    <br>
<!--    <div class="form-group row">-->
       
       <div class="text-center">
          <input type="submit" class="btn btn-primary" id="userInp" value="Submit">
          
       </div>
        
<!--    </div>-->
    
</form>

<!-- devoured and undevoured burger list -->

<div class="listBurger">

<!-- undevoured burger list -->
<div id="notDevoured">
<div class="card" style="width: 18rem;">
 <div class="card-header bg-info">
    Devour it!!
  </div>
  <ol class="list-group list-group-flush">
    {{#each burgers}}
<!--      {{#unless devoured}}-->
        {{>burgers/burger-block }}
<!--       {{/unless}}-->
    {{/each}}
  </ol>
     
</div>
  
</div>


<!-- devoured burger list -->
      
<div id="devoured">
  
  <div class="card" style="width: 18rem;">
  <div class="card-header bg-warning">
    Devoured!!
  </div>
  <ol class="list-group list-group-flush">
    {{#each burgers}}
<!--      {{#if devoured}}-->
        {{>burgers/burger-block }}
<!--       {{/if}}-->
    {{/each}}
  </ol>
  </div>
</div>
</div>
 


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        
        <div class="modal-body text-center">
          <p>Please make a burger!!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

