<li class="list-group-item">
    {{burger_name}} 
    
    <button class="devourBtn" data-id="{{id}}" data-state="{{devoured}}">{{#if devoured}} &times; {{else }}Devour it! {{/if}}  </button>
    
    
</li>